.box {
  width: 80%;
  margin: auto auto;
  box-shadow: 5px 5px 5px 5px #eee;
}
.selectors {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 80%;
  margin: auto auto;
}
.text-field {
  text-align: right;
  position: absolute;
  top: 15px;
  right: 5px;
  padding: 10px 10px;
}
.select-field {
  padding: 10px 10px;
}
